*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(T6Y394.jpg);

    background-attachment: fixed;
    background-size: cover;
}
.item{
    width: 50%;
    margin-top: 20px;
    border-bottom: blue 3px dotted;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive !important;
    color: darkblue;


}

ul{
    list-style: none;
}
li{
    text-transform: uppercase;
    font-weight: bold;
    font-family: cursive;
    font-size: 10px !important;
    color: rgb(64, 24, 206) !important;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e272b, 0 0 40px #e0d9dd, 0 0 50px #1a1618, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #c5aeba, 0 0 40px #faeef4, 0 0 50px #f7e0eb, 0 0 60px #ddc1cf, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
.sec{


    
        float: right;
        margin-left: 1px;
        margin-right: 2px;
        text-transform: uppercase;
      
        cursor: pointer;
        
        text-decoration: none;
        color: rgba(250, 250, 250, 0.8);
        background: rgb(108, 179, 197);
        padding: 5px 5px;
        border-radius: 10px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
    /* justify-content: space-around;
    margin-left: 40%; */
    
}
.sec:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.listing {
    text-align: left !important;
    color: black;
    
    padding: 10px 10px !important;
    font-size: 1.3rem !important;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.listing input{
    border-radius: 2px;
    border: none !important;
    background: transparent !important;
    border-bottom:  1px solid white !important;
}
.list{
    margin-top: 4%;
    text-align: center;
    list-style: none;
}
.r{
    margin-right: 50%;
}



h1{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-family: cursive;
    color: darkblue;
    text-shadow:  0 0 10px white , 0 0 20px #fff ;

}